<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookstore/style.css' %}" type="text/css"/>
    <title>Author Form</title>
</head>
<body>
    <h2>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Author</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save</button>
  </form>
</body>
</html>