<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookstore/style.css' %}" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <div class="blocks">
        <div class="up">
            <div class="first">
            <a href="http://127.0.0.1:8000/bookstore/authorlist">Click here to see Authors list and id</a>
            </div>
            <div class="second">
            <a href="http://127.0.0.1:8000/bookstore/booklist">Click here to see Books list and id</a>
            </div>
        <div class="down">
            <div class="third">
            <a href="http://127.0.0.1:8000/bookstore/publisherlist">Click here to see Publishers list and id</a>
            </div>
            <div class="fourth">
            <a href="http://127.0.0.1:8000/bookstore/storelist">Click here to see Stores list and id</a>
            </div>
        </div>
    </div>
</body>
</html>