<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookstore/style.css' %}" type="text/css"/>
    <title>Store</title>
</head>
<body>
  <h1>{{ store.name }}</h1>
  <h2>Books</h2>
  <ul>
  {% for book in store.books.all %}
      <li>{{ book.name }}</li>
  {% endfor %}
  </ul>
</body>
</html>